#contacts {
    @extend .container-fluid;
    background-color: #b079b0;

    ul {
        @extend .row;
        height: 100%;
        margin: 0;
        padding: 0;

        li {
            @include make-xs-column(12);
            @include make-sm-column(6);
            @include make-md-column(3);
            @include make-lg-column(2);

            height: 100px;
            margin-bottom: 25px;
            list-style: none;
        }
    }
}
